/*CSS stila default vērtību iestatīšana*/

:root{
    --main-color:#6e8ae8;
    --black:#555;
    --light-color:#777;
    --bg:#e9f3fc;
    --border:.1rem solid rgba(0,0,0,.1);
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    transition: all .3s ease-out;
}

*::selection{
    background:var(--main-color);
    color:#fff;
}

html{
    font-size: 62%;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}


html::-webkit-scrollbar{
    width:1.3rem;
}

html::-webkit-scrollbar-track{
    background: var(--light-color);
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
}

section{
    padding:2rem 9%;
}

/*HTML stila vērtības*/

header {
    position: fixed;
    background: rgb(1, 1, 34);
    height: 9rem;
    width: 100%;
    color: #e9f3fc;
}

.logo {
    display: flex;
    float: left;
    margin-top: 3rem;
    margin-left: 2rem;
   
}

li {
    float: right;
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
    margin-right: 2rem;
    font-size: 1.5rem;
}
li button{
    font-size: 2.3rem;
    margin-left: 2rem;
}